In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('ar_reviews_100k.tsv',sep='\t')

In [5]:
df

          label                                               text
0      Positive  ممتاز نوعا ما . النظافة والموقع والتجهيز والشا...
1      Positive  أحد أسباب نجاح الإمارات أن كل شخص في هذه الدول...
2      Positive  هادفة .. وقوية. تنقلك من صخب شوارع القاهرة الى...
3      Positive  خلصنا .. مبدئيا اللي مستني ابهار زي الفيل الاز...
4      Positive  ياسات جلوريا جزء لا يتجزأ من دبي . فندق متكامل...
...         ...                                                ...
99994  Negative  معرفش ليه كنت عاوزة أكملها وهي مش عاجباني من ا...
99995  Negative  لا يستحق ان يكون في بوكنق لانه سيئ . لا شي. لا...
99996  Negative  كتاب ضعيف جدا ولم استمتع به. فى كل قصه سرد لحا...
99997  Negative  مملة جدا. محمد حسن علوان فنان بالكلمات، والوصف...
99998  Negative  لن ارجع إليه مرة اخرى . قربه من البحر. المكان ...

[99999 rows x 2 columns]

In [7]:
df1=df.tail(50000)

In [10]:
df2=df1.sample(25000,ignore_index=True)

In [11]:
df3=df.sample(25000,ignore_index=True)

In [14]:
df2=df2.drop(columns='label')

In [15]:
df3=df3.drop(columns='label')

In [21]:
new_df=pd.DataFrame({'Inputs':df2['text'],'Label':1})

In [22]:
new_df

                                                  Inputs  Label
0      مجموعة رائعة من قصص تتحدث عن الشهداء الأحياء إ...      1
1      رحلة مش موحشة انا رحت الفندق من الى اغسطس الفن...      1
2      لم اكن راضيا ابدا . . النظافه والخدمات ورداءة ...      1
3                      فكرنى بكتب المدرسه لا تضع وقتك ..      1
4      هي في المجمل قصة حب في حالة حرب .. لم يعجبني ف...      1
...                                                  ...    ...
24995                        عجبتنى اوى. قصيدة كونى انثى      1
24996  ما بين ثورات الموريسكيين و المصريين و ما بين ت...      1
24997               مقالات جيده الا ان بعض الافكار مكرره      1
24998  الكتاب الوحيد الذي قرأته كاملا على الجوال، أو ...      1
24999  ممل ف اول جزء ممكن بدأت تشد لما يوسف قابل الشي...      1

[25000 rows x 2 columns]

In [23]:
new_df1=pd.DataFrame({'Inputs':df3['text'],'Label':1})

In [24]:
new_df = new_df.append(new_df1, ignore_index=True)

C:\Users\minai\AppData\Local\Temp\ipykernel_12864\2643041609.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(new_df1, ignore_index=True)

In [25]:
new_df

                                                  Inputs  Label
0      مجموعة رائعة من قصص تتحدث عن الشهداء الأحياء إ...      1
1      رحلة مش موحشة انا رحت الفندق من الى اغسطس الفن...      1
2      لم اكن راضيا ابدا . . النظافه والخدمات ورداءة ...      1
3                      فكرنى بكتب المدرسه لا تضع وقتك ..      1
4      هي في المجمل قصة حب في حالة حرب .. لم يعجبني ف...      1
...                                                  ...    ...
49995  رائع وموقعه مميز . موقع الفندق بالقرب من الخور...      1
49996  رحلة مميزة بالقرب من الحرم . تعامل الموظفين كا...      1
49997  حجز لثلاث اشخاص . تسجيل الدخول للفندق و تسجيل ...      1
49998   مخيب للأمل. . تسجيل الدخول استغرق اكثر من ساعتين      1
49999  فندق رائع لمن يبحث الاسترخاء والمتعة . كل شئ م...      1

[50000 rows x 2 columns]

In [27]:
new_df.to_csv('arabicrealttext.csv')

In [29]:
from arabert import ArabertPreprocessor
tokenizer = ArabertPreprocessor(model_name='aubmindlab/aragpt2-base')

In [1]:
from transformers import GPT2LMHeadModel, GPT2Tokenizer
from arabert import ArabertPreprocessor

# Load the pre-trained Arabic GPT-2 model and tokenizer
model_name = "aubmindlab/aragpt2-base"
preprocessor = ArabertPreprocessor(model_name=model_name)
model = GPT2LMHeadModel.from_pretrained(model_name)
tokenizer = GPT2Tokenizer.from_pretrained(model_name)


num_sentences = 3

# Preprocess the input text
input_text = ""
input_text_preprocessed = preprocessor.preprocess(input_text)

# Generate the text
output = model.generate( max_length=22, num_return_sequences=1, no_repeat_ngram_size=2, top_k=50, do_sample=True, 
                        pad_token_id=50256)

# Decode and print the generated text

for i, sample_output in enumerate(output):
    generated_text = tokenizer.decode(sample_output, skip_special_tokens=True)
    print(generated_text)

سوف تحظى بشحن مجاني عند قيامك بطلب سلع * تشحن من قبل سوق لا تقل قيمتها عن 250 جنيه في

In [51]:
inputs.append('بعض الأشخاص يشعرون بالحرج عندما تقوم بإدخال اسم المستخدم وكلمة المرور إلى حسابهم أو يتم حذف تلك الأسماء أو إرسال بعض الملفات من داخل الكمبيوتر.')

In [67]:
inputs

[' عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب',
 'سجلت شركة بترول أبوظبي الوطنية « أدنوك » تراجع في حصتها في شركة شل خلال العام الماضي ، حيث أظهرت النتائج المالية لشركة شل تراجعا بنسبة 5',
 ' عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب',
 'بعض الأشخاص يشعرون بالحرج عندما تقوم بإدخال اسم المستخدم وكلمة المرور إلى حسابهم أو يتم حذف تلك الأسماء أو إرسال بعض الملفات من داخل الكمبيوتر.',
 'يعتبر تطبيق Locate Splice احد أكثر تطبيقات الاتصال انتشارا بين الناس ، حيث يقوم بتشغيل تطبيقات مثل Facebook و Snapchat و Lifeberry في التواصل مع الأصدقاء في كافة أنحاء العالم.يحتوي تطبيق Snapto على بعض برامج الطرف الثالث التي يمكنك أن تتصل بأي شخص من خلال تطبيق واتس اب من أجل الدردشة ، أو المراسلة الشخصية ، بالإضافة إلى خدمات أخرى ، مما يساعده على تحقيق عدد من الأهداف على مدار اليوم.يوجد الكثير من الشركات التي تساعدك على التواصل عن طريق إرسال',
 'واشار الى ان عملية الاصلاح في شركة الاسمنت السعودية تسير بشكل جيد في وقت كانت الشركة لا تستطيع تغطية الاحتياج الفعلي لها في المنطقة.وانهى المهندس خالد بن عبدالله الزامل رئيس مجلس ادارة الشركة حديثه بالقول ان الشركة تتطلع لافتتاح الفرع الجديد لها قريبا.واكد انه من شأن افتتاح الفرع في المستقبل القريب ان يحقق هدف الشركة من هذه الخطوة في تشغيل فرع لها بمنطقة مكة المكرمة من خلال تشغيل المزيد من العمالة المؤهلة التي تعمل في مجال انتاج الاسمنت في كل من جنوب السودان واوغندا واوغندة.و',
 'إصدار جديد من منصة iOS للأجهزة التي تعمل بنظام Mac OS X 10. 16. 1 الإصدار الأخير من iOS 9. 12. 0. 2. 4 ، إصدار جديد جديد على نظام iOS 10 ، النسخة النهائية من " Xr " سوف تقوم بتعديل الإعدادات الخاصة بك وستتمكن من الوصول إلى كل الصور التي قمت بتحميلها وتثبيتها بالإضافة.كما قلنا مسبقا ، هذا الإصدار الجديد من نظام " iMovie " لأجهزة " iOS " التي تشتغل بنظام " Mac " قد يبدو أمرا طبيعيا ، إلا',
 'المركز العراقي لبحوث الاعلام العام يقيم سلسلة من الندوات العلمية عن ( الحركة التاريخية – الدولة والمجتمع ) وذلك يوم الاربعاء الموافق 13 تشرين الثاني 2014 في تمام الساعة السادسة من مساء يوم الثلاثاء في مقهى دار السلام في دهوك.المركز العراقي لبحوث الاعلام العام يقدم محاضرة قيمة بعنوان ( الدولة والمجتمع في القرآن الكريم ) يوم الاثنين الموافق 15 تشرين الثاني 2014 في تمام الساعة السادسة والنصف من مساء يوم الثلاثاء في قاعة جامعة دهوك.',
 ' عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب',
 ' عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب',
 '',
 'سوريا ، الحسكة : تجمع الأهالي على الطريق المؤدية إلى مدينة عين عيسى بعد خروج أهالي مدينة الشدادي بحماة من منازلهم ، ضمن مناطق سيطرة " قوات سوريا الديمقراطية " في الحسكة ، شمالي شرقي سوريا ، أمس الاثنين ( 18 حزيران 2016 ). وتشكل مدينة الحسكة معقلين مهمين للأمريكيين والتركي ، حيث تعد هذه المنطقة من أهم المناطق التي تسيطر عليها فصائل " الجيش السوري الحر ".أفاد مراسلنا من مدينة الرقة بإدلب الخميس ( 11 أيار 2016 - ) ، أن عناصر من قوات "',
 'سأقول " هذا الكلام " لأنني لا أوافق على أن " من غير المنطقي " أن نستدل بشجرة " الحب " التي كانت سائدة في عهد الفراعنة.فهل يمكن أن نأخذ " هذه " الأشياء " بنظر الاعتبار ؟ كل إنسان لديه " فكرة " معينة في حياته ، وقد تكون لديه أفكار يمكن استنباطها بطريقة مختلفة عن الشخص الذي سبق ، ومن هنا كان هذا السؤال : هل من الممكن أن يكون هناك " شخص " مستقل بذاته ؟ أما بالنسبة إلى السؤال الثالث : فقد أكون لم أرد " هل',
 ' عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب',
 'تطبيق “ الحياة ” يتيح إمكانية الاتصال بالإنترنت عبر الموبايل بسهولة تامة ، مثل الأجهزة التي تستخدم الهاتف الذكي أو التابلت أو الأجهزة المحمولة ، وذلك عبر خدمات التواصل الاجتماعي الخاصة بشركة جوجل ، والتي توفرها خدمة “ فيسبوك موبايل ” على الهواتف الذكية المزودة بخدمة التراسل الفوري تيليجرام.ومن خلال التطبيق ، بإمكان المشترك الاتصال بشبكة الإنترنت عن طريق الهاتف المحمول ، دون الحاجة للاتصال بالإنترنت.ولم يختلف تطبيق فيسبوك في مزاياه ، حيث بإمكان المشتركين الاتصال عن بعد ، وفي حال لم تتوفر ميزة الاتصال اللاسلكي بالإنترنت ، فبإمكان',
 '',
 'فضيحة.. هذا ما كشف عنه الرئيس التونسي فؤاد المبزع بعد زيارته الى روما.في ما كان يبغى هو. كان ذلك في ايلول الماضي مع وفد اقتصادي ايطالي في زيارة رسمية الى تونس في اطار خطة تعاون جديدة مع مصر هدفها اعادة تأهيل مرفأ تونس اهم ميناء بحري لتونس.وكانت الزيارة الثانية التي يقوم بها المبادء اليها منذ تسلمه رئاسة الوزراء في العام 1997.وقد اثار وفد رجال الاعمال الايطاليين اهتماما لدى رئيس الحكومة التونسية الذي زار في نهاية الاسبوع الجاري رئيس الاتحاد التونسي للصناعة والتجارة والصناعات']

In [108]:
import transformers
from arabert import ArabertPreprocessor

# Load the pre-trained Arabic GPT-2 model and tokenizer
model_name = "aubmindlab/aragpt2-base"
preprocessor = ArabertPreprocessor(model_name=model_name)
model = GPT2LMHeadModel.from_pretrained(model_name)
tokenizer = GPT2Tokenizer.from_pretrained(model_name)

# Set the number of sentences to generate
num_sentences = 4000

# Initialize a list to store the generated sentences


# Generate the text in batches
for i in range(0, num_sentences, 100):
    # Preprocess the input text
    input_text = ""
    input_text_preprocessed = preprocessor.preprocess(input_text)

    # Generate the text
    output = model.generate(max_length=22, num_return_sequences=100, no_repeat_ngram_size=2, top_k=50, do_sample=True, pad_token_id=50256)

    # Decode and append the generated text to the list
    for j, sample_output in enumerate(output):
        generated_text = tokenizer.decode(sample_output, skip_special_tokens=True)
        generated_sentences.append(generated_text)

In [109]:
df=pd.DataFrame({'Inputs':generated_sentences,'Label':0})

In [110]:
df

                                                  Inputs  Label
0      حذر تقرير صحفي من تزايد معدل المواليد على مستو...      0
1      عنوان الموضوع المشاركة الأخيرة تاريخ بداية الم...      0
2      كما قال مسؤولون إن انفجارا وقع بالقرب من منزل ...      0
3      القاهرة : أعلن الاتحاد الدولي للاتصالات ومقره ...      0
4      تفاصيل الحدث بالفيديو.. « الخارجية » تؤكد : ما...      0
...                                                  ...    ...
71195  الرئاسة الفلسطينية تشارك في الدورة ال 44 من « ...      0
71196  منتدى الشروق الجزائري > منتدى التعليم الثانوي ...      0
71197  أعلنت السلطات المصرية ، اليوم السبت ، القبض عل...      0
71198  أعلنت السلطات الأمنية التونسية اليوم الثلاثاء ...      0
71199   عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب ...      0

[71200 rows x 2 columns]

In [112]:
df.drop_duplicates()

                                                  Inputs  Label
0      حذر تقرير صحفي من تزايد معدل المواليد على مستو...      0
1      عنوان الموضوع المشاركة الأخيرة تاريخ بداية الم...      0
2      كما قال مسؤولون إن انفجارا وقع بالقرب من منزل ...      0
3      القاهرة : أعلن الاتحاد الدولي للاتصالات ومقره ...      0
4      تفاصيل الحدث بالفيديو.. « الخارجية » تؤكد : ما...      0
...                                                  ...    ...
71194  هل تستطيع هذه الرسائل الدخول إلى لعبة كمبيوتر ...      0
71195  الرئاسة الفلسطينية تشارك في الدورة ال 44 من « ...      0
71196  منتدى الشروق الجزائري > منتدى التعليم الثانوي ...      0
71197  أعلنت السلطات المصرية ، اليوم السبت ، القبض عل...      0
71198  أعلنت السلطات الأمنية التونسية اليوم الثلاثاء ...      0

[51085 rows x 2 columns]

In [115]:
df.to_csv('fakearabic.csv')

In [113]:
df5=df.sample(50000,ignore_index=True)

In [114]:
df5

                                                  Inputs  Label
0      أعلنت شركة “ بي.بي. آي ” ، المتخصصة في مجال تص...      0
1      فاجأ المطرب الشاب مصطفى سيد جمهوره بأغنية “ ال...      0
2      القبض على رئيس مجلس بلدة الرهوة أقدم مواطن ( 4...      0
3      تعقد شركة أرامكو السعودية لأول مرة في الرياض م...      0
4       عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب ...      0
...                                                  ...    ...
49995  سجلت أسعار الفاكهة في محافظة القنيطرة تحسنا نس...      0
49996  جاء ذلك في لقاء نظمته اللجنة المركزية لحزب " ا...      0
49997  أثارت الممثلة الإسبانية سارا هيرنانديز جدلا وا...      0
49998  شبكة المشاغب ا برامج ا دليل المواقع ا مجلة الم...      0
49999  تفاصيل حصرية عن مباراة المنتخب الوطني ضد منتخب...      0

[50000 rows x 2 columns]

In [117]:
df5=df5.append(new_df,ignore_index=True)

C:\Users\minai\AppData\Local\Temp\ipykernel_12864\653652955.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df5=df5.append(new_df,ignore_index=True)

In [119]:
df5.to_csv('fakeandrealdata.tsv')

In [120]:
df8=pd.read_csv('fakeandrealdata.tsv')

In [121]:
df8

       Unnamed: 0                                             Inputs  Label
0               0  أعلنت شركة “ بي.بي. آي ” ، المتخصصة في مجال تص...      0
1               1  فاجأ المطرب الشاب مصطفى سيد جمهوره بأغنية “ ال...      0
2               2  القبض على رئيس مجلس بلدة الرهوة أقدم مواطن ( 4...      0
3               3  تعقد شركة أرامكو السعودية لأول مرة في الرياض م...      0
4               4   عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب عتاب ...      0
...           ...                                                ...    ...
99995       99995  رائع وموقعه مميز . موقع الفندق بالقرب من الخور...      1
99996       99996  رحلة مميزة بالقرب من الحرم . تعامل الموظفين كا...      1
99997       99997  حجز لثلاث اشخاص . تسجيل الدخول للفندق و تسجيل ...      1
99998       99998   مخيب للأمل. . تسجيل الدخول استغرق اكثر من ساعتين      1
99999       99999  فندق رائع لمن يبحث الاسترخاء والمتعة . كل شئ م...      1

[100000 rows x 3 columns]